
.title {

    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
	width: auto;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
    background-color: rgba(216, 186, 186, 0.911);
    color: #fff;
}
.fetchedNews {
    background-color: black;
    color: black;
    text-align: center;
    border: 3px solid black;
    margin: 15% 0 0 0;
}

.header {

    color: black;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    
}

body {
    margin: auto;
    padding: auto;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
  }
