<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Manrope&family=Montserrat:wght@200&display=swap" rel="stylesheet">

<body [ngStyle]="{backgroundImage:'url(./assets/images/FrontPage.webp)'}">

    <div class="title">
        <h1 class="header">Home of Video Gamez Afficionados !</h1>
    </div>

    <div class="gamesOfTheYear">
        <app-games-of-the-year></app-games-of-the-year>
    </div>

</body>

